
:root {
  --primaryColor: #1a202c;
  --secondaryColor: #4299e1;
  --whiteBackgroundColor: #ffff;
  --section2primaryColor: #f7fafc;
  --toogleBarBackgroundColor: #dbe8eb;
  --fastTransition: 0.5s;
}

/* aside styling */

.asideCon {
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: white;
  font-size: 20px;
  height: 30em;
  width: 8em;
  padding-left: 10px;

  position: fixed;
}

.asideCon .link {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/* upload page or add project page styling */

.uploadMain {
  height: 20em;
  padding-left: 12em;
  padding-top: 2em;
}

.uploadImageFile {
  border-radius: 2px solid gray;
  height: 4em;
  background-color: orange;
}

.fileUpload {
  display: none;
}

.uploadImageMainDiv{
    display: flex;
}

.uploadImageDiv {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  height: 10em;
  width: 18em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadImageDiv:hover {
  background-color: #45a049;
}

.uploadButtons{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    gap: 1em;
}

.uploadButtons button{
    color: black;
}

.imgIcon{
  width: 5em;
  border-radius: 50%;
}
